﻿
@{
    Layout = null;
}


<!------ Include the above in your HEAD tag ---------->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Website CSS style -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <title>Questionnaire</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <style>
        /*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
        /*
 * General styles
 */
        #playground-container {
            height: 500px;
            overflow: hidden !important;
            -webkit-overflow-scrolling: touch;
        }

        body, html {
            height: 100%;
            background-repeat: no-repeat;
            background: url(https://i.ytimg.com/vi/4kfXjatgeEU/maxresdefault.jpg);
            font-family: 'Oxygen', sans-serif;
            background-size: cover;
        }

        .main {
            margin: 50px 15px;
        }

        h1.title {
            font-size: 50px;
            font-family: 'Passion One', cursive;
            font-weight: 400;
        }

        hr {
            width: 10%;
            color: #fff;
        }

        .form-group {
            margin-bottom: 15px;
        }

        label {
            margin-bottom: 15px;
        }

        input,
        input::-webkit-input-placeholder {
            font-size: 11px;
            padding-top: 3px;
        }

        .main-login {
            background-color: #fff;
            /* shadows and rounded borders */
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        }

        .form-control {
            height: auto !important;
            padding: 8px 12px !important;
        }

        .input-group {
            -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21) !important;
            -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21) !important;
            box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21) !important;
        }

        #button {
            border: 1px solid #ccc;
            margin-top: 28px;
            padding: 6px 12px;
            color: #666;
            text-shadow: 0 1px #fff;
            cursor: pointer;
            -moz-border-radius: 3px 3px;
            -webkit-border-radius: 3px 3px;
            border-radius: 3px 3px;
            -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
            -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
            box-shadow: 0 1px #fff inset, 0 1px #ddd;
            background: #f5f5f5;
            background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
            background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
            background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
            background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
            background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
        }

        .main-center {
            margin-top: 30px;
            margin: 0 auto;
            max-width: 400px;
            padding: 10px 40px;
            background: #009edf;
            color: #FFF;
            text-shadow: none;
            -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
            -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
            box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
        }

        span.input-group-addon i {
            color: #009edf;
            font-size: 17px;
        }

        .login-button {
            margin-top: 5px;
        }

        .login-register {
            font-size: 11px;
            text-align: center;
        }

    </style>
</head>
<body>
    <div class="container">
        <div class="row main">
            <div class="main-login main-center">
                <h5>Sign up entering your account information.</h5>
                <form class="" method="post" action="@Url.Action("PostSignup","Auth")">
                    @if (ViewBag.Error != null)
                {
                    <div class="form-group">
                        <p class="alert alert-danger">@ViewBag.Error</p>
                    </div>
            }

                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Your First Name</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="FirstName" id="name" placeholder="Enter your first name" required />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Your Last Name</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="LastName" id="name" placeholder="Enter your last name" required />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="cols-sm-2 control-label">Your Email</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="Email" id="Email" placeholder="Enter your Email" />
                            </div>
                        </div>
                    </div>
                    <input type="hidden" class="form-control" name="Country" id="country1" />
                    <input type="hidden" class="form-control" name="Address" id="address1" />
                    <input type="hidden" class="form-control" name="IsAdmin" value="0" />
                    <input type="hidden" class="form-control" name="IsApproved" value="0" />
                    <div class="form-group">
                        <label for="password" class="cols-sm-2 control-label">Password</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" name="Password" id="password" placeholder="Enter your Password" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <button type="submit" id="button" class="btn btn-primary btn-lg btn-block login-button">Register</button>
                    </div>
                    <div class="form-group ">
                        Already have account? <a href="@Url.Action("Login","Auth")" style="color:white;">Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br />
    <div class="footer">
        <p class="text-center"><b>Developed by <a href="http://www.ubssols.com">UBS Solutions.</a></b></p>
    </div>

    


    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>My Location - My Current Location</title>
        <meta name="description" content="My Location - Find and share your current location. My current location is a tool that gets the address and
gps coordinates of your current location or any other location that you can search on Google Maps." />
        <meta name="keywords" content="My Location, My Current Location, Where am I, what's my location" />
        <link rel="alternate" href="android-app://com.mylocation.latitudelongitude/my-location" />
        <script src="~/Content/Address/function.js"></script>
        <link href="~/Content/Address/style.css" rel="stylesheet" />
    </head>
    <body>



        <table width="1100" align="center" class="tablestyle" style="display:none;">
            <tr>
                <td width="350" valign="top">

                    <input id="address" class="input-long" type="hidden"></div><br />
                    <table>
                        <tr>
                            <td width="300"><input id="latitude" class="input-short" type="hidden"></td>
                        </tr>
                        <tr>
                            <td width="300"><input id="longitude" class="input-short" type="hidden"></td>
                        </tr>
                    </table>

                    <br />
                    <div style="display:none;" class="subtitle">DMS (degrees, minutes, seconds)</div>
                    <table>
                        <tr style="display:none;">
                            <td width="50" valign="middle"><b>Latitude</b></td>
                            <td width="300">
                                <form action="">
                                    <table>
                                        <tr>
                                            <td width="40" valign="middle"><input type="radio" name="latitude_dms_direction" id="latitude_dms_n" value="N" />N </td>
                                            <td width="40" valign="middle"><input type="radio" name="latitude_dms_direction" id="latitude_dms_s" value="S" />S </td>
                                            <td><input id="latitude_dms_degrees" class="input-custom20" type="textbox" /></td>
                                            <td valign="top"><b>&deg;</b></td>
                                            <td><input id="latitude_dms_minutes" class="input-custom20" type="textbox" /></td>
                                            <td valign="top"><b>'</b></td>
                                            <td><input id="latitude_dms_seconds" class="input-custom55" type="textbox" /></td>
                                            <td valign="top"><b>"</b></td>
                                        </tr>
                                    </table>
                                </form>
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <td width="50" valign="middle"><b>Longitude</b></td>
                            <td width="300">
                                <form action="">
                                    <table>
                                        <tr>
                                            <td width="40" valign="middle"><input type="radio" name="longitude_dms_direction" id="longitude_dms_e" value="E" />E</td>
                                            <td width="40" valign="middle"><input type="radio" name="longitude_dms_direction" id="longitude_dms_w" value="W" />W </td>
                                            <td><input id="longitude_dms_degrees" class="input-custom20" type="textbox" /></td>
                                            <td valign="top"><b>&deg;</b></td>
                                            <td><input id="longitude_dms_minutes" class="input-custom20" type="textbox" /></td>
                                            <td valign="top"><b>'</b></td>
                                            <td><input id="longitude_dms_seconds" class="input-custom55" type="textbox" /></td>
                                            <td valign="top"><b>"</b></td>
                                        </tr>
                                    </table>
                                </form>
                            </td>
                        </tr>
                    </table>
                    <br /><br />
                    <div style="width:350px;">


                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                </td>
                <td width="730" valign="top" hidden>
                    <div id="map_canvas" style="height:550px;"></div>
                    <br />
                    <div style="width:728px">


                    </div>
                    <div style="height:200px; display:none;">
                        <h3>Share my Location</h3>
                        If you need to share your location with someone, you can simply send them the following link.<br />
                        <input id="my_location" type="textbox" class="input-custom600" onClick="this.setSelectionRange(0, this.value.length)" readonly="readonly" /><br /><br />
                        If you want to place the current location on a website, use the following link. <br />
                        <textarea id="coordinates_url" class="input-custom_area" onClick="this.setSelectionRange(0, this.value.length)" readonly="readonly"></textarea>
                    </div>
                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBroCpocZhJ22s7y2-iyzNbpgceBvaqYUo&language=en&libraries=places"></script>
                    <script>
                        function initialize() {

                            var input = document.getElementById('address');
                            var autocomplete = new google.maps.places.Autocomplete(input);
                        }

                        google.maps.event.addDomListener(window, 'load', initialize);

                    </script>

                    <script>
                        var map;
                        var markersArray = [];
                        var marker;
                        var infowindow;
                        var infowindowArray = [];
                        var geocoder = new google.maps.Geocoder;
                        var defaultLatLng = new google.maps.LatLng(40.7127837, -74.0059413);
                        var defaultAddress = "New York, NY, USA";
                        if (navigator.geolocation) {
                            var mapOptions = {
                                zoom: 15,
                                mapTypeId: google.maps.MapTypeId.ROADMAP
                            };

                            map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
                            google.maps.event.addListener(map, "click", function (event) {
                                var latLng = new google.maps.LatLng(event.latLng.lat(), event.latLng.lng());
                                placeMarker(event.latLng);
                            });
                            var lat = "";
                            var lng = "";
                            var address = "";
                            var use_default_location = "";
                              if (!address.length == 0) {
                                getCoordinatesByAddress(address);
                                lat = document.getElementById('latitude').value;
                                lng = document.getElementById('longitude').value;
                                var geolocate = new google.maps.LatLng(lat, lng);
                                map.setCenter(geolocate);
                            } else {
                                if (use_default_location) {
                                    defaultMap();
                                } else {
                                    navigator.geolocation.getCurrentPosition(
                                        function (position) {
                                            var geolocate = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                                            placeMarker(geolocate);
                                            map.setCenter(geolocate);

                                        },
                                        function () {
                                            defaultMap();
                                        }
                                    );
                                }
                            }


                        } else {
                            defaultMap();

                        }

                        function placeMarker(location) {

                            // first remove all markers if there are any
                            deleteOverlays();
                            deleteOverlaysInfoWindow();

                            var marker = new google.maps.Marker({
                                position: location,
                                map: map
                            });

                            // add marker in markers array
                            markersArray.push(marker);

                            document.getElementById('latitude').value = location.lat();
                            document.getElementById('longitude').value = location.lng();
                            var url = "http://www.gps-coordinates.org/my-location.php?lat=" + location.lat() + "&lng=" + location.lng();

                            document.getElementById('my_location').value = url;
                            document.getElementById('coordinates_url').value = "<a href=\"" + url + "\" target=\"_blank\">(" + location.lat() + "," + location.lng() + ")</a>";
                            var latDms = getDD2DMS(location.lat(), "lat");
                            var lngDms = getDD2DMS(location.lng(), "lng");

                            var latDegrees = latDms[0];
                            var latMinutes = latDms[1];
                            var latSeconds = latDms[2];
                            var latDirection = latDms[3];

                            var lngDegrees = lngDms[0];
                            var lngMinutes = lngDms[1];
                            var lngSeconds = lngDms[2];
                            var lngDirection = lngDms[3];

                            document.getElementById('latitude_dms_degrees').value = latDegrees;
                            document.getElementById('latitude_dms_minutes').value = latMinutes;
                            document.getElementById('latitude_dms_seconds').value = latSeconds;
                            if (latDirection == "N") {
                                document.getElementById('latitude_dms_n').checked = true;
                            } else {
                                document.getElementById('latitude_dms_s').checked = true;
                            }

                            document.getElementById('longitude_dms_degrees').value = lngDegrees;
                            document.getElementById('longitude_dms_minutes').value = lngMinutes;
                            document.getElementById('longitude_dms_seconds').value = lngSeconds;
                            if (lngDirection == "E") {
                                document.getElementById('longitude_dms_e').checked = true;
                            } else {
                                document.getElementById('longitude_dms_w').checked = true;
                            }

                            var address = "No resolved address";
                            geocoder.geocode({ 'location': location },
                                function (results, status) {
                                    if (status === google.maps.GeocoderStatus.OK) {
                                        if (results[1]) {
                                            address = results[0].formatted_address;
                                        } else {
                                            // error; do nothing
                                        }
                                    } else {
                                        // error; do nothing

                                    }
                                    var radiusInKm = 0.15;
                                    var pointB = location.destinationPoint(0, radiusInKm);
                                    document.getElementById('address').value = address;
                                    // Address
                                    document.getElementById("address1").value = document.getElementById("address").value;
                                    var adresssplit = address.split(",");
                                    //Country
                                    document.getElementById("country1").value = adresssplit[adresssplit.length - 1];
                                    infowindow = new google.maps.InfoWindow({
                                        map: map,
                                        position: pointB,
                                        content:
                                        '<h2><b>Geolocation:</b> ' + address + '</h2>' +
                                        '<h2><b>Latitude:</b> ' + location.lat() + '</h2>' +
                                        '<h2><b>Longitude:</b> ' + location.lng() + '</h2>'
                                    });
                                    infowindowArray.push(infowindow);
                                }
                            );
                        }


                        function placeDefaultMarker(location, address) {
                            // first remove all markers if there are any
                            deleteOverlays();
                            deleteOverlaysInfoWindow();

                            var marker = new google.maps.Marker({
                                position: location,
                                map: map
                            });

                            // add marker in markers array
                            markersArray.push(marker);

                            document.getElementById('latitude').value = location.lat();
                            document.getElementById('longitude').value = location.lng();
                            var url = "http://www.gps-coordinates.org/my-location.php?lat=" + location.lat() + "&lng=" + location.lng();

                            document.getElementById('my_location').value = url;
                            document.getElementById('coordinates_url').value = "<a href=\"" + url + "\" target=\"_blank\">(" + location.lat() + "," + location.lng() + ")</a>";
                            var latDms = getDD2DMS(location.lat(), "lat");
                            var lngDms = getDD2DMS(location.lng(), "lng");

                            var latDegrees = latDms[0];
                            var latMinutes = latDms[1];
                            var latSeconds = latDms[2];
                            var latDirection = latDms[3];

                            var lngDegrees = lngDms[0];
                            var lngMinutes = lngDms[1];
                            var lngSeconds = lngDms[2];
                            var lngDirection = lngDms[3];

                            document.getElementById('latitude_dms_degrees').value = latDegrees;
                            document.getElementById('latitude_dms_minutes').value = latMinutes;
                            document.getElementById('latitude_dms_seconds').value = latSeconds;
                            if (latDirection == "N") {
                                document.getElementById('latitude_dms_n').checked = true;
                            } else {
                                document.getElementById('latitude_dms_s').checked = true;
                            }

                            document.getElementById('longitude_dms_degrees').value = lngDegrees;
                            document.getElementById('longitude_dms_minutes').value = lngMinutes;
                            document.getElementById('longitude_dms_seconds').value = lngSeconds;
                            if (lngDirection == "E") {
                                document.getElementById('longitude_dms_e').checked = true;
                            } else {
                                document.getElementById('longitude_dms_w').checked = true;
                            }


                            var radiusInKm = 0.15;
                            var pointB = location.destinationPoint(0, radiusInKm);
                            document.getElementById('address').value = address;
                            infowindow = new google.maps.InfoWindow({
                                map: map,
                                position: pointB,
                                content:
                                '<h2><b>Geolocation:</b> ' + address + '</h2>' +
                                '<h2><b>Latitude:</b> ' + location.lat() + '</h2>' +
                                '<h2><b>Longitude:</b> ' + location.lng() + '</h2>'
                            });
                            infowindowArray.push(infowindow);


                        }

                        // Deletes all markers in the array by removing references to them
                        function deleteOverlays() {
                            if (markersArray) {
                                for (i in markersArray) {
                                    markersArray[i].setMap(null);
                                }
                                markersArray.length = 0;
                            }
                        }

                        function deleteOverlaysInfoWindow() {
                            if (infowindowArray) {
                                for (i in infowindowArray) {
                                    infowindowArray[i].setMap(null);
                                }
                                infowindowArray.length = 0;
                            }
                        }

                        function getCoordinatesByAddress(address) {
                            //address = document.getElementById('address').value;
                            geocoder.geocode({ 'address': address }, function (results, status) {
                                if (status == google.maps.GeocoderStatus.OK) {
                                    var latitude = results[0].geometry.location.lat();
                                    var longitude = results[0].geometry.location.lng();
                                    var geolocate = new google.maps.LatLng(latitude, longitude);
                                    placeOnMap(new google.maps.LatLng(latitude, longitude), address);
                                    //placeMarker(geolocate);
                                }
                            });
                            alert(document.getElementById("address").value);
                        }

                        function getAddressByCoordinates() {
                            var latitude = document.getElementById('latitude').value;
                            var longitude = document.getElementById('longitude').value;
                            var geolocate = new google.maps.LatLng(latitude, longitude);
                            placeMarker(geolocate);
                        }

                        function getAddressByDms() {
                            var latDegrees = document.getElementById('latitude_dms_degrees').value;
                            var latMinutes = document.getElementById('latitude_dms_minutes').value;
                            var latSeconds = document.getElementById('latitude_dms_seconds').value;
                            var latDirection;
                            latitude_dms_n = document.getElementById("latitude_dms_n").checked;
                            if (latitude_dms_n == true) {
                                latDirection = "N";
                            } else {
                                latDirection = "S";
                            }

                            var lngDegrees = document.getElementById('longitude_dms_degrees').value;
                            var lngMinutes = document.getElementById('longitude_dms_minutes').value;
                            var lngSeconds = document.getElementById('longitude_dms_seconds').value;
                            var lngDirection;
                            longitude_dms_e = document.getElementById("longitude_dms_e").checked;
                            if (longitude_dms_e == true) {
                                lngDirection = "E";
                            } else {
                                lngDirection = "W";
                            }

                            var latitude = ParseDMS(latDegrees, latMinutes, latSeconds, latDirection);
                            var longitude = ParseDMS(lngDegrees, lngMinutes, lngSeconds, lngDirection);
                            var geolocate = new google.maps.LatLng(latitude, longitude);
                            placeMarker(geolocate);
                        }

                        /*** function to calculate pointB so that infowindow & marker don't overlapped ***/
                        Number.prototype.toRad = function () {
                            return this * Math.PI / 180;
                        }

                        Number.prototype.toDeg = function () {
                            return this * 180 / Math.PI;
                        }

                        google.maps.LatLng.prototype.destinationPoint = function (brng, dist) {
                            dist = dist / 6371;
                            brng = brng.toRad();

                            var lat1 = this.lat().toRad(), lon1 = this.lng().toRad();

                            var lat2 = Math.asin(Math.sin(lat1) * Math.cos(dist) +
                                Math.cos(lat1) * Math.sin(dist) * Math.cos(brng));

                            var lon2 = lon1 + Math.atan2(Math.sin(brng) * Math.sin(dist) *
                                Math.cos(lat1), Math.cos(dist) - Math.sin(lat1) * Math.sin(lat2));

                            if (isNaN(lat2) || isNaN(lon2)) return null;
                            return new google.maps.LatLng(lat2.toDeg(), lon2.toDeg());
                        }
                        /*** function to calculate pointB so that infowindow & marker don't overlapped ***/

                        /*** show default ***/
                        function defaultMap() {
                            placeDefaultMarker(defaultLatLng, defaultAddress);
                            map.setCenter(defaultLatLng);
                        }

                        function placeOnMap(latlong, address) {
                            placeDefaultMarker(latlong, address);
                            map.setCenter(latlong);
                        }

                                /*** show default ***/
                    </script>
                </td>
            </tr>
        </table>
    </body>
</html>

</body>
</html>
