﻿
@{
    ViewBag.Title = "CannedReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model Performa.Models.Questionnaire
@using Performa.Helping_Classes
@using Performa.Models
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Dashboard
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index","Admin")">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Approved Users</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                @if (ViewBag.Message != null)
                {
                    <label class=" alert alert-success" for="form_control_1">@ViewBag.Message</label>

                }
                @if (ViewBag.Error != null)
                {
                    <label class=" alert alert-danger" for="form_control_1">@ViewBag.Error</label>

                }

                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class=" font-dark"></i>
                            <span class="caption-subject bold uppercase">Recent Records</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped table-bordered table-hover" id="sample_1">
                            <thead>
                                <tr>
                                    <th>Question</th>
                                    <th>Total Attempts</th>
                                    <th>Total Answered</th>
                                    <th>% of Total Answered</th>
                                    <th>Total Not Answered</th>
                                    <th>% of Total Not Answered</th>
                                    <th>% of answer having words > 10</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Questions)
                                {

                                    decimal tAttempts =item.Answers.Count();
                                    decimal totalAnswered = item.Answers.Where(x => x.Answer1 != null).Count();
                                    decimal panswerGreaterthan10 =(item.Answers.Where(x => x.Answer1!=null &&x.Answer1.Length > 10).Count() /tAttempts) *100;
                                    decimal notAnswered = tAttempts - totalAnswered;
                                    decimal ptotalAnswered = (totalAnswered / tAttempts) * 100;
                                    decimal pnotAnswered = (notAnswered / tAttempts) * 100;

                                <tr>
                                    <td>@item.Question1</td>
                                    <td>@tAttempts</td>
                                    <td>@totalAnswered</td>
                                    <td>@ptotalAnswered</td>
                                    <td>@notAnswered</td>
                                    <td>@pnotAnswered</td>
                                    <td>@panswerGreaterthan10</td>

                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $('.dt-buttons').hide();
    })
    
</script>
