﻿
@{
    ViewBag.Title = "ShowQuestions";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<Performa.Models.Questionnaire>

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Dashboard
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index","Admin")">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Show Questionnare Summary</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                    @if (ViewBag.Message != null)
        {
            <label class=" alert alert-success" for="form_control_1">@ViewBag.Message</label>

}
                    @if (ViewBag.Error != null)
        {
            <label class=" alert alert-danger" for="form_control_1">@ViewBag.Error</label>

}

                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class=" font-dark"></i>
                            <span class="caption-subject bold uppercase">Recent Records</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped table-bordered table-hover" id="sample_1">
                            <thead>
                                <tr>
                                    <th>Sr#</th>
                                    <th>Questionaire Name</th>
                                    <th>Purpose</th>
                                    <th>View Questions</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ 
                                    int i = 1;
                                }
                                @foreach (var item in Model)
                    {


                        <tr>
                            <td>@i</td>
                            <td>@item.QuestName</td>
                            <td>@item.Purpose</td>
                            <td>
                                @*<a href="#"><i class="fa fa-pencil"></i></a> |*@
                                <a href="@Url.Action("ViewQuestions","Admin",new { Id=item.Id})" class="btn btn-info">Questions</a>

                            </td>
                            <td>
                                @*<a href="#"><i class="fa fa-pencil"></i></a> |*@
                                <a href="@Url.Action("DeleteSurvey","Admin",new { Id=item.Id})" class="btn btn-danger">Delete</a>

                            </td>
                        </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>

