﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Questionnaire</title>
    <!-- Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Flaticon CSS -->
    <link href="~/Content/fonts/flaticon/flaticon.css" rel="stylesheet">
    <!-- font-awesome CSS -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <!-- Offcanvas CSS -->
    <link href="~/Content/css/hippo-off-canvas.css" rel="stylesheet">
    <!-- animate CSS -->
    <link href="~/Content/css/animate.css" rel="stylesheet">
    <!-- language CSS -->
    <link href="~/Content/css/language-select.css" rel="stylesheet">
    <!-- owl.carousel CSS -->
    <link href="~/Content/owl.carousel/assets/owl.carousel.css" rel="stylesheet">
    <!-- magnific-popup -->
    <link href="~/Content/css/magnific-popup.css" rel="stylesheet">
    <!-- Main menu -->
    <link href="~/Content/css/menu.css" rel="stylesheet">
    <!-- Template Common Styles -->
    <link href="~/Content/css/template.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <!-- Responsive CSS -->
    <link href="~/Content/css/responsive.css" rel="stylesheet">
    <script src="~/Content/js/vendor/modernizr-2.8.1.min.js"></script>
    <!-- HTML5 Shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/vendor/html5shim.js"></script>
        <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top">
    <div id="st-container" class="st-container">
        <div class="st-pusher">
            <div class="st-content">
                <header class="header">
                    <nav class="top-bar">
                        <div class="overlay-bg">
                            <div class="container">
                                <div class="row">

                                    <div class="col-sm-6 col-xs-12">
                                        <div class="call-to-action">
                                            @*<ul class="list-inline">
                                                <li><a href="#"><i class="fa fa-phone"></i> 1-800-987-654</a></li>
                                                <li><a href="#"><i class="fa fa-envelope"></i> admin@domain.com</a></li>
                                            </ul>*@
                                        </div> /.call-to-action 
                                    </div><!-- /.col-sm-6 -->
                                    <div class="col-sm-6 hidden-xs">
                                        <div class="topbar-right">
                                            @*<div class="lang-support pull-right">
                                                <select class="cs-select cs-skin-elastic">
                                                    <option value="" disabled selected>Language</option>
                                                    <option value="united-kingdom" data-class="flag-uk">English</option>
                                                    <option value="france" data-class="flag-france">French</option>
                                                    <option value="spain" data-class="flag-spain">Spanish</option>
                                                    <option value="south-africa" data-class="flag-bd">Bengali</option>
                                                </select>
                                            </div>
                                            <ul class="social-links list-inline pull-right">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                                <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                                            </ul>*@
                                        </div> /.social-links 
                                    </div><!-- /.col-sm-6 -->

                                </div><!-- /.row -->
                            </div><!-- /.container -->
                        </div><!-- /.overlay-bg -->
                    </nav><!-- /.top-bar -->
                   

                    <nav class="navbar navbar-default" role="navigation">

                        <div class="container mainnav">
                            @*<div class="navbar-header">
                                <h1 class="logo"><a class="navbar-brand" href="index.html"><img src="img/logo.png" alt=""></a></h1>
                                <!-- offcanvas-trigger -->
                                <button type="button" class="navbar-toggle collapsed pull-right">
                                    <span class="sr-only">Toggle navigation</span>
                                    <i class="fa fa-bars"></i>
                                </button>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse navbar-collapse">

                                <span class="search-button pull-right"><a href="#search"><i class="fa fa-search"></i></a></span>
                                <ul class="nav navbar-nav navbar-right">
                                    <!-- Home -->
                                    <li class="dropdown active">
                                        <a href="index.html">Home <span class="fa fa-angle-down"></span></a>
                                        <!-- submenu-wrapper -->
                                        <div class="submenu-wrapper">
                                            <div class="submenu-inner">
                                                <ul class="dropdown-menu">
                                                    <li><a href="index2.html">Home2</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- /submenu-wrapper -->
                                    </li>
                                    <!-- /Home -->
                                    <!-- Pages -->
                                    <li class="dropdown">
                                        <a href="#">Pages <span class="fa fa-angle-down"></span></a>
                                        <!-- submenu-wrapper -->
                                        <div class="submenu-wrapper">
                                            <div class="submenu-inner">
                                                <ul class="dropdown-menu">
                                                    <li><a href="about.html">About</a></li>
                                                    <li><a href="service.html">Service</a></li>
                                                    <li><a href="our-people.html">Our people</a></li>
                                                    <li><a href="career.html">Career</a></li>
                                                    <li><a href="faq.html">FAQ Page</a></li>
                                                    <li><a href="typography.html">Typography</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- /submenu-wrapper -->
                                    </li>
                                    <!-- /Pages -->
                                    <!-- Services -->
                                    <li class="dropdown">
                                        <a href="#">Services <span class="fa fa-angle-down"></span></a>
                                        <!-- submenu-wrapper -->
                                        <div class="submenu-wrapper">
                                            <div class="submenu-inner">
                                                <ul class="dropdown-menu">
                                                    <li><a href="air.html">Air transportation</a></li>
                                                    <li><a href="marine.html">Marine transportation</a></li>
                                                    <li><a href="moving.html">Moving & storage</a></li>
                                                    <li><a href="shipping.html">Shipping & operations</a></li>
                                                    <li><a href="transportation.html">Transportation logistics</a></li>
                                                    <li><a href="trucking.html">Trucking</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- /submenu-wrapper -->
                                    </li>
                                    <!-- MEGA MENU -->
                                    <li class="dropdown mega-fw has-megamenu">
                                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Features <span class="fa fa-angle-down"></span></a>
                                        <!-- megamenu-wrapper -->
                                        <div class="submenu-wrapper megamenu-wrapper">
                                            <div class="submenu-inner megamenu-inner">

                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <div class="mega-content">
                                                            <div class="row">

                                                                <div class="col-sm-3 mega-col">
                                                                    <ul>
                                                                        <li class="dropdown-header">Features</li>
                                                                        <li><a href="#">100% Responsive</a></li>
                                                                        <li><a href="#">Animations</a></li>
                                                                        <li><a href="#">Bootstrap 3+</a></li>
                                                                        <li><a href="#">Valid Markups</a></li>
                                                                        <li><a href="#">Mega Menu</a></li>
                                                                        <li><a href="#">Free Supports And Update</a></li>
                                                                    </ul>
                                                                </div><!-- /.col -->


                                                                <div class="col-sm-3 mega-col">
                                                                    <ul>
                                                                        <li class="dropdown-header">Pages</li>
                                                                        <li><a href="about.html">About</a></li>
                                                                        <li><a href="service.html">Service</a></li>
                                                                        <li><a href="our-people.html">Our people</a></li>
                                                                        <li><a href="career.html">Career</a></li>
                                                                        <li><a href="faq.html">FAQ Page</a></li>
                                                                        <li><a href="typography.html">Typography</a></li>
                                                                    </ul>
                                                                </div><!-- /.col-->

                                                                <div class="col-sm-3 mega-col">
                                                                    <ul>
                                                                        <li class="dropdown-header">Services</li>
                                                                        <li><a href="air.html">Air transportation</a></li>
                                                                        <li><a href="marine.html">Marine transportation</a></li>
                                                                        <li><a href="moving.html">Moving & storage</a></li>
                                                                        <li><a href="shipping.html">Shipping & operations</a></li>
                                                                        <li><a href="transportation.html">Transportation logistics</a></li>
                                                                        <li><a href="trucking.html">Trucking</a></li>
                                                                    </ul>
                                                                </div><!-- /.col-->

                                                                <div class="col-sm-3 mega-col">
                                                                    <ul>
                                                                        <li class="dropdown-header">Typography</li>
                                                                        <li><a href="#">Bootstrap grids</a></li>
                                                                        <li><a href="#">Google fonts</a></li>
                                                                        <li><a href="#">Fontawesome icons</a></li>
                                                                        <li><a href="#">Flat icons</a></li>
                                                                        <li><a href="#">Tabs</a></li>
                                                                        <li><a href="#">Button elements</a></li>
                                                                    </ul>
                                                                </div><!-- /.col -->
                                                            </div><!-- /.row -->
                                                        </div><!-- /.mega-content -->
                                                    </li>
                                                </ul><!-- /.dropdown menu -->
                                            </div><!-- /.megamenu-inner -->
                                        </div> <!-- /.megamenu-wrapper -->
                                    </li> <!-- /MEGA MENU -->
                                    <!-- /Pages -->
                                    <!-- Blog -->
                                    <li class="dropdown">
                                        <a href="#">Blog <span class="fa fa-angle-down"></span></a>
                                        <!-- submenu-wrapper -->
                                        <div class="submenu-wrapper">
                                            <div class="submenu-inner">
                                                <ul class="dropdown-menu">
                                                    <li><a href="blog.html">Standard blog</a></li>
                                                    <li><a href="blog-single.html">Single blog</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- /submenu-wrapper -->
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div><!-- /.navbar-collapse -->*@
                        </div><!-- /.container -->

                    </nav>
                </header>

                @RenderBody()
                <hr />
                <!-- footer-widget-section start -->
                <section class="footer-widget-section section-padding">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-md-offset-1 col-sm-4">
                                <div class="footer-widget">
                                    <h3>Place &amp; Contact</h3>
                                    <address>
                                        384 Maple Circle<br>
                                        Simi Valley, Nevada 47424<br>
                                        <!-- Google Map Modal Trigger -->
                                        <button type="button" class="modal-map" data-toggle="modal" data-target="#cssMapModal">Location  Map</button>
                                        <span class="tel">(554) 616-9926</span>
                                    </address>

                                    <!-- Modal -->
                                    <div class="modal fade" id="cssMapModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Our Location</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div id="googleMap"></div>

                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div><!-- End Modal -->
                                </div><!-- /.footer-widget -->
                            </div><!-- /.col-md-4 -->
                            <div class="col-md-3 col-sm-4">
                                <div class="footer-widget">
                                    <h3>About Transport</h3>
                                    <ul>
                                        <li><a href="about.html">About</a></li>
                                        <li><a href="service.html">Service</a></li>
                                        <li><a href="our-people.html">Our people</a></li>
                                        <li><a href="career.html">Career</a></li>
                                        <li><a href="faq.html">FAQ Page</a></li>
                                    </ul>
                                </div><!-- /.footer-widget -->
                            </div><!-- /.col-md-4 -->
                            <div class="col-md-4 col-sm-4">
                                <div class="footer-widget">
                                    <h3>Stay in Touch</h3>
                                    <p>Enter your email address to receive news &amp; offers from us</p>
                                    <form class="newsletter-form">
                                        <div class="form-group">
                                            <label class="sr-only" for="InputEmail1">Email address</label>
                                            <input type="email" class="form-control" id="InputEmail1" placeholder="Your email address">
                                            <button type="submit" class="">Send &nbsp;<i class="fa fa-angle-right"></i></button>
                                        </div>
                                    </form>
                                </div><!-- /.footer-widget -->
                            </div><!-- /.col-md-4 -->
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </section><!-- /.cta-section -->
                <!-- footer-widget-section end -->
                <!-- copyright-section start -->
                <footer class="copyright-section">
                    <div class="container text-center">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#">Privacy &amp; Cookies</a></li>
                                <li><a href="#">Terms &amp; Conditions</a></li>
                                <li><a href="#">Accessibility</a></li>
                            </ul>
                        </div>
                        <div class="copyright-info">
                            <span>Copyright © 2015 Unship. All Rights Reserved. Designed by <a href="https://uicookies.com">uiCookies</a><br> Proudly powered by <a href="http://www.w3schools.com/html/html5_intro.asp">HTML5</a> and <a href="getbootstrap.com">Bootstrap3</a></span>
                        </div>
                    </div><!-- /.container -->
                </footer>
                <!-- copyright-section end -->
            </div>
            </div>
        </div>
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
</body>
</html>
