﻿
@{
    ViewBag.Title = "SolveQuestionnare";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model List<Performa.Models.Question>

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Dashboard
                    <small>statistics, charts and reports</small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index","Admin")">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Dashboard</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-green-haze">
                            <i class="icon-user font-green-haze"></i>
                            <span class="caption-subject bold uppercase"> Solve Questionnaire</span>
                        </div>
                        <div class="actions">

                            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title=""> </a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        @if (Model.Count>0)
                        {
                            /**/

                        <form role="form" class="form-horizontal" action="@Url.Action("PostSurveySolution", "Home")" method="post">
                            <div class="form-body">
                                <div class="form-group form-md-line-input has-success">
                                    @if (ViewBag.Message != null)
                                    {
                            <label class="col-md-offset-2 col-md-10 alert alert-success" for="form_control_1">@ViewBag.Message</label>

}
                                    @if (ViewBag.Error != null)
                                    {
                            <label class="col-md-offset-2 col-md-10 alert alert-danger" for="form_control_1">@ViewBag.Error</label>

}
                                </div>
                                @{
                                    int i = 1;
                                    foreach (var item in Model)
                                    {
                            <div class="form-group form-md-line-input">
                                <h4 class="col-md-offset-2 text-success"><b>@item.Question1</b></h4>
                                <input type="hidden" value="@item.Id" name="Question_@i" />
                            </div>
                            <div class="form-group form-md-line-input has-success">
                                <label class="col-md-2 control-label" for="form_control_1">Write Answer</label>
                                <div class="col-md-10">
                                    <textarea class="form-control" rows="3" name="Answer_@i" placeholder="Write answer" required></textarea>
                                    <div class="form-control-focus"> </div>
                                </div>
                            </div>
                                        i++;
                                    }
                                    i--;
                                    <input type="hidden" name="noOfQuestions" value="@i" />
                                }
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-2 col-md-10">
                                        <button type="submit" class="btn blue">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                                    }
                                    else {
                                        <div class="alert alert-danger">There is no question added against this questionnaire.</div>
                                                }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



