html, body{}
body{font-family:Verdana, Arial, Helvetica, sans-serif;margin:0;padding:0;background-color:#e5e6e2;line-height:13px;font-size:13px;}
p{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:14px;line-height:24px;}
h1, h2, h3, h4{font-family:Verdana, Arial, Helvetica, sans-serif;font-weight:500;}
h1{font-size:30px;}
h2{font-size:20px;}
h3{font-size:20px;}
h4{font-size:18px;}
.footer{text-align:center;}
.menu td{background-color:#787e68;color:#ffffff;height:35px;}
.menu td a{color:#ffffff;text-decoration:none;margin-right:10px;}
.menu td a:hover{color:#ffffff;text-decoration:underline;}
.tablestyle{background-color:#ffffff;padding-left:5px;padding-right:5px;}
#map_canvas{height:100%;}
#map_canvas h1{font-size:16px;}
#map_canvas h2{font-size:13px;font-weight:300;}
.button-main{color:#ffffff;background-color:#3675dd;border-color:#076406;}
.button{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:normal;line-height:1.428571429;text-align:center;white-space:nowrap;vertical-align:middle;cursor:pointer;background-image:none;border:1px solid transparent;border-radius:4px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
.input-long,
.input-middle,
.input-short,
.input-dropdown,
.input-custom20,
.input-custom55,
.input-custom600{display:block;height:18px;padding:6px 12px;font-size:14px;line-height:1.428571429;color:#555555;vertical-align:middle;background-color:#ffffff;background-image:none;border:1px solid #cccccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;}
.input-long:focus,
.input-middle:focus,
.input-short:focus,
.input-dropdown:focus,
.input-custom20:focus,
.input-custom55:focus,
.input-custom600:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);}
.input-dropdown{width:200px;height:35px;}
.input-long{width:290px;}
.input-middle{width:240px;}
.input-short{width:200px;}
.input-custom20{width:20px;}
.input-custom55{width:55px;}
.input-custom600{width:600px;}
.input-custom_area{display:block;width:600px;padding:6px 12px;font-size:14px;line-height:1.428571429;color:#555555;vertical-align:middle;background-color:#ffffff;background-image:none;resize:none;overflow:hidden;}
.input-custom_area:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);}
#header h1{font-family:Verdana, Arial, Helvetica, sans-serif;margin:0;padding:0;background-color:#ffffff;color:#525646;text-align:left;font-size:35px;font-weight:bold;padding-bottom:20px;padding-top:20px;padding-left:15px;}
.subtitle{font-size:18px;font-weight:500;padding:10px;}
#distance{font-size:14px;line-height:24px;}
#map{height:100%;}
html, body{height:100%;margin:0;padding:0;}
#floating-panel{position:absolute;top:10px;left:25%;z-index:5;background-color:#fff;padding:5px;border:1px solid #999;text-align:center;font-family:'Roboto','sans-serif';line-height:30px;padding-left:10px;}